.vehicules-grid
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 300px;
    gap: 20px;
    padding: 20px;
}

.text-content
{
    display: flex;
    justify-content: space-between;
}

.profil-top
{
    display: flex;
    align-items: center;

}